* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

.header {
  background-color: #1d1d1d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
  flex-wrap: wrap;
}

.header-logo {
  width: 200px;
}

.navbar-list {
  display: flex;
  gap: 20px;
}

.navbar-list__item {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.navbar-list__item:hover::after {
  content: "";
  position: absolute;
  display: block;
  margin-top: 5px;
  width: 100%;
  border-bottom: 1px solid #d0063b;
}

.section-title {
  font-size: 26px;
  text-align: center;
  padding-top: 20px;
}

.section-description {
  text-align: center;
  color: #383838;
}

.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "home sidebar";
  padding: 20px;
  flex: 1 0 auto;
}

.card-img,
.sidebar-img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}

.card {
  width: 280px;
  height: 380px;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.card:hover {
  box-shadow: #d0063b 0px 6px 12px -2px, #d0063b 0px 3px 7px -3px;
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  grid-area: home;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  padding: 12px 0;
}

.card-description {
  text-align: center;
}

.sidebar {
  background-color: #383838;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  min-width: 300px;
  gap: 20px;
  grid-area: sidebar;
}

.card-sidebar {
  width: 75%;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.card-sidebar__title {
  text-align: center;
  padding: 10px;
}

.footer {
  width: 100%;
  padding: 20px;
  background-color: #292929;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.logo-footer {
  width: 180px;
}

@media (max-width: 630px) {
  .main-content {
    grid-template-areas: "home" "sidebar";
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    min-width: auto;
  }
}
@media (max-width: 425px) {
  .header {
    justify-content: center;
    gap: 15px;
  }
}
